<%= div_for message do %>
	<div class="panel panel-success">
		<div class="panel-heading">
		<p class="panel-title"><strong>Posted <%= time_ago_in_words(message.created_at) %> ago by <%= message.author.upcase %></strong></p></div>
		<div class="panel-body">
		<%= message.body %>
		</div>
	</div>
<% end %>
